#app {
    font-family: "fira sans";
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 23em auto;
    grid-template-areas: "header header"
                         "sidebar main";
}

header {
    grid-area: header;
    background-color: #222;
    color: white;
    padding-left: 1em;
}

section#selector {
    padding-left: 1em;
    grid-area: sidebar;
}

section#details {
    grid-area: main;
}

section#selector select {
    max-width: calc(100% - 1em);
}

ul {
    display: block;
    list-style: none;
    padding-left: 0;
}

ul#test-paths {
    font-family: "fira mono";
    font-size: 80%;
}

ol.tab-strip {
    display: flex;
    list-style: none;
    padding-left: 1em;
    border-bottom: 1px solid grey;
}

ol.tab-strip > li {
    border: 1px solid grey;
    border-bottom: none;
    margin-bottom: -1px;
    padding-left: 1em;
    padding-right: 1em;
    cursor: default;
}

ol.tab-strip > li.tab-active {
    border-bottom: 1px solid white;
    border-top: 2px solid orange;
}

.tree-row > .tree-row {
    margin-left: 2em;
}

.tree-row-expanded {
    margin-bottom: 1em;
}

table.results {
    border-collapse: collapse;
}

table.results > thead th {
    text-transform: capitalize;
    min-width: 10em;
    text-align: center;
}

table.results > tbody th {
    font-weight: normal;
    font-family: "fira mono";
    padding-right: 1em;
}

td.result {
    text-transform: uppercase;
    color: white;
    background-color: orange;
    text-align: center;
}

td.result-pass {
    background-color: green;
}

td.result-ok {
    background-color: green;
}

td.result-fail {
    background-color: red;
}

td.result-error {
    background-color: blue;
}

td.result-crash {
    background-color: black;
}

td.result-notrun {
    background-color: grey;
}


ul.errors {
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
}

ul.errors > li {
    opacity: 0.9;
    background-color: #fcc;
    border: thin solid red;
    width: 100%;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
}

.note {
    background-color: #efe;
    font-style: italic;
    margin-left: 1em;
    margin-right: 1em;
}

.note::before {
    content: "Note:";
    font-weight: bold;
    padding-right: 0.5em;
}

select[multiple] {
    vertical-align: text-top;
}

ul.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul.links > li {
    margin-right: 1em;
}
